.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 35px;
    width: 97%;
    background-color: rgba(15, 12, 12, 0.918);
    padding: 20px;
}
.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color:azure;
    width: 300px;
}
.footer__album {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-left: 20px;
}
.footer__icon:hover,
.footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer__right * .MuiSlider-root {
    color: green;
}
.footer__songInfo > h4 {
margin-bottom: 5px;
}
.footer__songInfo > p {
    font-size: 12px;
}
.footer__green {
    color: green;
}
.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color:rgb(238, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(227, 233, 233);

}